@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,700i&display=swap');


#contact {
  background: #f37020;
  padding: 30px;
  display: block;
  margin-top: 0em;
  
}

#contact h4 {
  color: white;
  display: block;
  font-size: 18px;
  font-weight: 700;
  margin: -1px;
}

#contact input[type="text"],
#contact textarea {
  width: 100%;
  border-radius: 3px;
  border: 1px solid white;
  background: #f37020;
  color:white;
  margin: 5px 0 5px;
  padding: 6px;
  font-size: 13px;
  
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  border-radius: 3px;
  background: #033c7b;
  color: white;
  margin: 0 0 5px;
  padding: 5px;
  font-size: 15px;
}

::-webkit-input-placeholder  { color:white; }
input:-moz-placeholder { color:white; }
textarea:-moz-placeholder { color:white; }​
